.button {
    background-color: #6278F7;
    margin: 32px 0;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.125rem;
    padding: 32px;
    cursor: pointer;
}

.button:hover {
    color: #95FFD4;
}
